//Main colors
$cWhite: #fff;
$cCommonRarity: #21CC14;
$cDefault: #9794C6;
$cBlack: #000;
$cBlack28: #282A42;
$cBlack08: #080115;
$cBlack21: #212031;
$cBlack0D: #0D0B0F;
$cBlack16: #16151F;
$cBlack24: #242333;
$cBlack32: #323145;
$cSkyBlue: #B9B7EA;
$cGreen: #21CC14;

//Gradient colors
$cGreenGradient: linear-gradient(90deg, #30c325 0%, #2c812a 100%);
$cButtonGradient: linear-gradient(90deg, #242333 0%, #3c3b53 100%);
$cPinkOrange: linear-gradient(90deg, #f52cbf 0%, #ff7c46 100%);
$cGradientMain2: linear-gradient(90deg, #682fbd 0%, #cb4cbc 100%);
$cSkyBottGradient: linear-gradient(to bottom, #9794C6 82%, #9794C6 0%);
$cSkyLeftGradient: linear-gradient(to left, #9794C6 0%, #9794C6 100%);
$cWhiteYellowGradient: linear-gradient(to bottom, #B1FFAF 0%, #FFF 100%);
$cPinkGradient: linear-gradient(to bottom, #F5EDFF 0%, #CABDDB 100%);
$cBlackGradient: linear-gradient(to bottom, #07050A 0%, #000 100%);
$cBlackGradient2: linear-gradient(to bottom right, #16151F 0%, #16151F 100%);

